.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),url(../../assets/hero.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    max-width: 800px;
}

.hero-text h1{
    font-size: 3rem;

}

.hero-text p{
    
    line-height: 1.4;
    margin-top: 20px;
    margin-bottom: 20px;
}


.hero__button{
    background: #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;
    outline: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.hero__button img{
    width: 20px;
    margin-left: 10px;
}


/* -------media Query------------- */


@media (max-width: 850px){
    .hero-text h1{
        font-size: 40px;
    }

}

@media (max-width: 650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }

}

