.mobileval_main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.values_mob{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
   
}
.dt{
    margin-top: 80px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s ease;
}

.dt:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.det1{
    background-color: #F94C10;
    padding: 10px 25px;
    border-radius: 1.2rem;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.det2{
    background-color: #E384FF;
    padding: 10px 25px;
    border-radius: 1.2rem;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.det3{
    background-color: #00FFD1;
    padding: 10px 25px;
    border-radius: 1.2rem;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.det4{
    background-color: #F637EC ;
    padding: 10px 25px;
    border-radius: 1.2rem;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}


.mob_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.info_left{
    margin-top: 80px;
    padding: 20px;
}

.info_left h3{
    font-size: 1.3rem;
   

}

.info_left h1{
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
}
.info_left p{
    font-size: 1.2rem;
}
.info_img{
    margin-top: 40px;
    border-radius: 10px;
    
}

.work_btn{
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #836FFF;
    border-radius: 1.2rem;
    transition: transform 0.3s ease;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
}

.work_btn:hover{
    transform: scale(1.1);
}




@media (max-width: 650px){
    .values_mob{
        display: flex;
        flex-direction: column;
        gap: 0px;
        
    }
    .mob_info{
        display: flex;
        flex-direction: column;
    }
    .info_left h1{
        font-size: 2rem;
    }
    .info_left p{
        font-size: 1.3rem;
    }
}