.portfolio{
    position: relative;
}


  .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
  }

  .image-container {
    margin-left: 4px;
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
   
  }

  .image-container img{
    border-radius: 2rem;
    margin-bottom: 8px;
    box-shadow: 0 10px 10px rgba(103, 198, 227, 0.6); /* Blue glowing border */
  outline: 3px solid rgba(103, 198, 227, 0.6); /* Blue glowing outline */
  animation: floatAnimation 3s ease-in-out infinite alternate;
  }

  @keyframes floatAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  

  .text-container {
    flex: 3; /* Take up available space on the right */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertically center the text */
  }
.progress{
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: var(--main-color);
    
}

.progress h1{
    font-size: 50px;
    font-weight: 800;
}

.progressBar{
    height: 10px;
    background-color: white;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* .wrapper {
    max-width: 1366px;
    height: 100%;
    margin: auto;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
  } */


/* img{
    flex: 1;
    height: 80%;

} */



/* .text-container{
    flex: 1;
   
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    
} */
.text-container h2 {
    font-size: 5rem; /* Adjust the font size of the heading */
  }
  
  .text-container p {
    font-size: 1.5rem; /* Adjust the font size of the paragraph */
  }

button{
    background-color: var(--main-color);
    color: white;
    font-weight: 800;
    font-size: 1.8rem;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

button:hover {
    transform: scale(1.1); /* Scale up by 10% */
    background-color: #ff8c00; /* Lighter orange color on hover */
  }
  
  button span {
    color: white; /* White text */
  }


/* =====Media Queries (Medium devices)=============  */
@media  screen and (max-width:1024px){
    .portfolio__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}   

/* =====Media Queries (Small devices)============= */

@media  screen and (max-width:600px) {

    .portfolio__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}