.team_cont{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 100vh; */
    margin-bottom: 40px;

}

.team_heads{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team_heads h1{
    font-size: 2.7rem;
    font-weight: 800;
}

.team_heads h3{
    font-size: 1.4rem;
}

.team_main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 40px; */
    margin-top: 10px;
    border: 1px solid black;
}

.team_details{
    padding: 0px 35px;
    border: 1px solid black;
    
}


.team_details h1{
    margin-top: 40px;
    font-size: 2rem;
    font-weight: 700;
    
}

.team_details h3{
    font-size: 1.4rem;
    margin-bottom: 30px;
}

.team_details p{
    font-size: 1.3rem;
    
}

.team_btn{
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: #00FFD1;
    border-radius: 10px;
    margin-top: 20px;
    
    transition: 0.3s ease;
}

.team_btn:hover{
    transform: scale(1.1);
}